header {
	background-color: rgba(56, 221, 41, 0.075);
}

 #logo img{
	/* padding: 10px;
	margin-top:10px; 
	margin-left:30px; 
	 background-color: white; */
	}

.new-pages{
	height: 1157px;
    color: darkgray;
    overflow: scroll;
} 
.check{
	padding-left:20px 
}
#head-news{
	padding: 5px;
	color: whitesmoke;

	background-color: #1e1e1f00
	
}
#head-img{
 border-radius: 8px 8px 8px 8px;
 width: 350px;
 height: 200px;
}
#head-des{
    color: rgb(206, 198, 198);
}
#head-chl{
	color: rgb(102, 97, 97);
}
#clear{
	clear:both;
}
.nav_btn{
	color: black;
	font-size: 18px
}
/* .rownews .col{
	float: left;
	width: 50%;
	height: 250px;
}*/

 @media screen and (max-width:600px) {
#head-img{
 border-radius: 8px 8px 8px 8px;
 width: 150px;
 height: 150px;
}
.new-pages{
	height: 906px;
}
} 
.searchdata input{
 border-radius: 10px 0px 0px 10px;
}
#first{
background-color: #1e1e1f00
}
.col{
	background-color: #1e1e1f00
}
.col a {
	color: rgb(206, 198, 198);
    text-decoration: none;
}